<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Great+Vibes&display=swap" rel="stylesheet">
<base href="../public/">
<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/style.css">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7a02ec59f3.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" integrity="sha512-VYhOmOOgmYsSFb0oxQcqkRrm/YmAnwNcuahdvSfMaQW7JqWb9g6XUciSICYUEOd0C3N+s1fN+Kkn85q+iYsDew==" crossorigin="anonymous"></script>
     <style>       
      @keyframes popUpAnimation {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
    
}

@-webkit-keyframes popUpAnimation {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeInUpAnimation {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    
}

@-webkit-keyframes fadeInUpAnimation {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
  
      body{
        margin-top: 90px;
      }
      .sym{
        color:rgba(255, 255, 255, 0.3);
      }
      /*.card:nth-child(1){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .card:nth-child(2){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .card:nth-child(3){
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
      }*/
      #navdrop{
          max-height: 80vh; overflow-y:scroll; 
        }
        #navdrop::-webkit-scrollbar{
          display: none;
        }        

        #navdrop {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        #textsend{
          border-width: 0px;
          padding: 0%;
          background-color: rgba(0, 0, 0, 0); 
          width: 90%;
          
        }
        ::-webkit-scrollbar{
          display: none;
        }
      
      @media screen and (max-width:576px){
        
        #name{
          display: none;
        }
        .navhide{
          display: inline;
        }
        .smhide{
          display: none;
        }
        
      }
      @media screen and (min-width:576px){
        
        #name{
          display: none;
        }
        .navhide{
          display: inline;
        }
        .smhide{
          display: none;
        }
      }
      @media screen and (min-width:768px){
        
        #smallname{
          display: none;
        }
        #name{
          display: inline;
        }
        .navhide{
        display: inline;
        }
        .smhide{
          display: none;
        }
        
      }
      @media screen and (min-width:992px){
        
        #smallname{
          display: none;
        }
        #name{
          display: inline;
        }
        .navhide{
        display: none;
        }
        .smhide{
          display: flex;
        }
        
        #hidden{
          left: 8%;
        }
      }
      @media screen and (min-width:1500px){
        
        #smallname{
          display: none;
        }
        #name{
          display: inline;
        }
        .navhide{
        display: none;
        }
        .smhide{
          display: flex;
        }
        
      }            
      .Search:focus{
        outline: none;
      }
      #toggler:focus{
        outline: none;
      }
      #searchClear:focus{
        outline: none;
      }
      
    #dropd{
    padding: 5px 5px 5px 5px;
    justify-content: space-around;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
    .nobullet{
      list-style-type: none;
      color:rgba(255, 255, 255, 0.3);
      padding-left: 0%;
    }
    #searchClear{
      border: none;
      background-color: transparent;
      color: inherit;
      display: none;
    }      
    #Sear{
      display: flex;
    }
    #top-navbar{
      background-color: white;margin-bottom: 5px;height: 80px;
    }
    .login-box{
      transition: opacity 0.5s ease-in-out 1s ;
    }
    #profdrop{
      height: 41.13px;width: 41.13px;
    }
    </style>
    <link rel="icon" href="../images/3D.png">
    <title>3D</title>
</head>
  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-around" id="top-navbar" >
                <div class="container d-flex justify-content-around" style="flex-wrap: nowrap;">
                  
                <a class="navbar-brand" href="/" > <strong>3D</strong></a>
                <form class=" " id="Sear" action="" method="GET" style="width: 40%;border-radius:35px;background-color: rgba(239, 241, 244, 0.5);padding: 0.6rem 0.6rem;flex-wrap: nowrap;">
                  <button id="go" disabled type="submit" class="Search" style="border-width: 0px;background-color: rgba(0, 0, 0, 0);"> <i class="fas fa-search"></i> </button>
                  <input type="search" id="textsend" value="" autocomplete="off" name="search" onkeyup="success()" class="Search" placeholder="Search">
                  
                  <button title="Clear" type="reset" id="searchClear" onclick="FocusSearch()"><svg width="16" height="16" class="BAGAv _1azRR _1mPD6" version="1.1" viewBox="0 0 32 32" aria-hidden="false"><path d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z"></path></svg></button>
                </form>
                <script>
                    $(document).ready(function(){
                      $('#go').prop('disabled',true);
                      $('#searchClear').css('display','none');
                      
                      $('#textsend').keyup(function(){
                        $('#go').prop('disabled', this.value=="" ? true : false); 
                        $('#searchClear').css('display',this.value=="" ? 'none' : 'block');
                      });
                      $('#searchClear').click(function(){
                        $('#go').prop('disabled', this.value=="" ? true : false);
                        $('#searchClear').css('display',this.value=="" ? 'none' : 'block');
                      }); 
                      $('#textsend').focusin(function(){
                        $('#go').prop('disabled', this.value=="" ? true : false); 
                        $('#searchClear').css('display',this.value=="" ? 'none' : 'block');
                      });
                      $('#textsend').focusout(function(){
                        $('#go').prop('disabled', this.value=="" ? true : true); 
                        $('#searchClear').css('display',this.value=="" ? 'none' : 'block');
                      });
                      $('#textsend').keypress(function(){
                        $('#go').prop('disabled', this.value=="" ? true : false); 
                        $('#searchClear').css('display',this.value=="" ? 'none' : 'block');
                      });
                      

                    }); 
                    function FocusSearch(){
                      document.getElementById("textsend").focus();
                    }
                    var elem=document.getElementById("textsend");
                    elem.value=searchval();
                    function searchval(){
                    var url_string = window.location.href; //window.location.href
                    var url = new URL(url_string);
                    var c = url.searchParams.get("search");
                    return c;
                    }
                </script>
                          
                <!--<div class=" navbar justify-content-end" id="navbarSupportedContent" >-->
                  <div class="nav d-flex justify-content-around" id="navbar-main" style=" justify-content: end;flex-wrap: nowrap; ">
                    <% if(currentUser) { %>
                      
                      <li class="nav-item" >
                            <div class="dropdown" style="width: 73.57;height: 60.13;" >
                             <a class="nav-link" data-toggle="modal" data-target="#profileModal" aria-haspopup="true" aria-expanded="false" style="-webkit-appearance:none;">
                                <button class="ui circular icon button" id="profdrop" style="background-color: rgba(239, 241, 244, 0.5);"><i class="fas fa-user"></i></button>
                             </a>
                              </div>
                            
                      </li>    
                      <% } %>
                      
                    <li class="nav-item smhide">  
                      <a class="nav-link" href="/Event">
                        <button class="ui circular large button" style="margin-top:0;margin-bottom:0;background-color: rgba(239, 241, 244, 0.5);">Events</button>
                      </a>
                    </li> 
                    <li class="nav-item smhide">  
                      <a class="nav-link" href="/Project">
                        <button class="ui circular large button" style="margin-top:0;margin-bottom:0;background-color: rgba(239, 241, 244, 0.5);">Projects</button>
                      </a>
                    </li> 
                    <li style="list-style-type: none;" class="nav-item dropdown">
                      <a class="nav-link " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="-webkit-appearance:none;">
                        <button class="ui circular large button" style="display: block;background-color: rgba(239, 241, 244, 0.5); padding-left: 16px;padding-right: 12px;margin-right: 0px; "><i class="ellipsis horizontal icon" style="margin-right: 0;"></i></button>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right animate slideIn" id="navdrop" aria-labelledby="navbarDropdownMenuLink" style="border-radius: 5% 5% 5% 5%;">
                        <div class="navhide">
                          <a class="dropdown-item" href="/Event"><strong> Events</strong></a> 
                          <a class="dropdown-item" href="/Project"><strong> Projects</strong></a> 
                          <div class="dropdown-divider"></div>
                        </div>  
                          <a class="dropdown-item" href="/Blogs"><strong>Blogs</strong> </a> 
                          
                          <a class="dropdown-item" href="/Gallery"><strong>Gallery</strong> </a> 
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/Teams"><strong>Teams</strong></a>
                          <div class="dropdown-divider"></div>
                          <% if(!currentUser){ %>
                          <a class="dropdown-item" href="/user/login"> <strong>Login</strong></a> <% } %>
                          <a class="dropdown-item" href="/ContactUs"><strong>Contact Us</strong></a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>  
              <% if(currentUser){ %>
              <div class="modal fade hide" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" animation: fadeInUpAnimation 0.5s ease-out;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" >
                      <h1 style="width: 100%;text-align:center ;" class="modal-title" id="exampleModalLabel"><%= currentUser.firstName+" "+currentUser.lastName %></h1>
                      </button>
                    </div>
                    <div style="text-align: center;" class="modal-body">
                      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   sodipodi:docname="profile initials.svg"
   inkscape:version="1.0 (4035a4fb49, 2020-05-01)"
   id="svg8"
   version="1.1"
   viewBox="0 0 43 43"
   height="43mm"
   width="43mm">
  <defs
     id="defs2">
    <rect
       id="rect867"
       height="19.276787"
       width="29.482143"
       y="69.16964"
       x="47.625" />
    <rect
       id="rect853"
       height="18.142857"
       width="27.970238"
       y="69.16964"
       x="47.813988" />
    <rect
       id="rect847"
       height="18.142857"
       width="33.261906"
       y="69.73661"
       x="45.357143" />
    <rect
       id="rect837"
       height="17.197918"
       width="35.151787"
       y="70.870537"
       x="44.79018" />
  </defs>
  <sodipodi:namedview
     fit-margin-bottom="0"
     fit-margin-right="0"
     fit-margin-left="0"
     fit-margin-top="0"
     inkscape:window-maximized="0"
     inkscape:window-y="0"
     inkscape:window-x="228"
     inkscape:window-height="1020"
     inkscape:window-width="1624"
     showgrid="false"
     inkscape:document-rotation="0"
     inkscape:current-layer="layer1"
     inkscape:document-units="mm"
     inkscape:cy="4.3055455"
     inkscape:cx="179.39261"
     inkscape:zoom="1.4"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     borderopacity="1.0"
     bordercolor="#666666"
     pagecolor="#ffffff"
     id="base" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(-40.821426,-57.45237)"
     id="layer1"
     inkscape:groupmode="layer"
     inkscape:label="Layer 1">
    <circle
       r="21.5"
       cy="78.95237"
       cx="62.321426"
       id="path833"
       style="fill:#bfcfe0;fill-opacity:1;stroke-width:1.66407" />
    <text
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:ScriptS;-inkscape-font-specification:'ScriptS Bold';white-space:pre;shape-inside:url(#rect837);"
       id="text835"
       xml:space="preserve" />
    <text
       id="text843"
       y="76.918159"
       x="53.672619"
       style="font-weight:bold;font-size:6.81604px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';stroke-width:0.264583"
       xml:space="preserve"><tspan
         style="stroke-width:0.264583"
         y="76.918159"
         x="53.672619"
         id="tspan841"
         sodipodi:role="line" /></text>
    <text
       style="font-weight:bold;font-size:6.81603px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';white-space:pre;shape-inside:url(#rect847);"
       id="text845"
       xml:space="preserve" />
    <text
       style="font-weight:bold;font-size:17.6389px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';white-space:pre;shape-inside:url(#rect853);"
       id="text851"
       xml:space="preserve" />
    <text
       id="text859"
       y="79.941963"
       x="51.782742"
       style="font-weight:bold;font-size:6.81604px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';stroke-width:0.264583"
       xml:space="preserve"><tspan
         style="stroke-width:0.264583"
         y="79.941963"
         x="51.782742"
         id="tspan857"
         sodipodi:role="line" /></text>
    <text
       id="text863"
       y="83.154762"
       x="51.404758"
       style="font-weight:bold;font-size:6.81604px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';stroke-width:0.264583"
       xml:space="preserve"><tspan
         style="stroke-width:0.264583"
         y="83.154762"
         x="51.404758"
         id="tspan861"
         sodipodi:role="line" /></text>
    <text
       style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:17.6389px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Semi-Bold';white-space:pre;shape-inside:url(#rect867);"
       id="text865"
       xml:space="preserve" />
    <text
       id="text873"
       y="87.501488"
       x="52.916664"
       style="font-weight:bold;font-size:17.6389px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';stroke-width:0.264583"
       xml:space="preserve"><tspan
         style="stroke-width:0.264583"
         y="87.501488"
         x="52.916664"
         id="tspan871"
         sodipodi:role="line" /></text>
    <text
       id="text877"
       y="83.721725"
       x="49.32589"
       style="font-weight:bold;font-size:17.6389px;line-height:1.25;font-family:'Josefin Sans';-inkscape-font-specification:'Josefin Sans Bold';stroke-width:0.264583"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'CommercialScript BT';-inkscape-font-specification:'CommercialScript BT';stroke-width:0.264583"
         y="83.721725"
         x="49.32589"
         id="tspan875"
         sodipodi:role="line"><%= currentUser.firstName[0].toUpperCase() + currentUser.lastName[0].toUpperCase() %></tspan></text>
  </g>
</svg>                      
                      <h4>
                        <%= currentUser.username %>
                        <% if(currentUser.isAdmin==true){ %> 
                          <span style="text-align: end;"><button class="ui icon disabled button yellow">admin</button></span>
                        <% } %>
                      </h4>
                      <h5><%= currentUser.email %></h5>
                    </div>
                    
                    <div class="modal-footer justify-content-between">
                      <div>
                        <!--<a href="/user/edit"><button type="button" class="btn btn-light" >Edit</button></a>-->
                      </div>
                      <div>
                      <a href="/user/logout"><button type="button" class="btn btn-light" >Logout</button></a>
                      <button type="button" id="deregbutton" class="btn btn-danger">Delete my account</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Account Deletion Confirmation</h5>
                      
                    </div>
                    <div class="modal-body">
                      <strong>This account will be permanently deleted, along with all associated data. Sure you want to proceed?</strong>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <a href="/User/deregister"><button type="button" class="btn btn-primary">Yes</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <script>
                $("#deregbutton").click(function(){
                   $("#profileModal").modal("hide");
                   $("#profileModal").on('hidden.bs.modal',function(){
                    $("#staticBackdrop").modal("show");
                   });
                });
              </script>
              
           <!-- Login -->
