<% include partials/header.ejs %>
<style>
    #Sear{
        visibility: hidden;
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
<div class="container">
<div class="login-box" style="text-align: center;" >
    <div class="" style="justify-content: center;text-align: center;">
            <div class="login-logo">
                <img src="../images/3D.png" alt="3D" class="logo" width="" height="27">
                <span style="font-family: 'Knewave', cursive;font-size: x-large;">3DtechClub</span>
            </div>
            <h3>Sign Up</h3>
<form class="form-group" style="text-align: center;" autocomplete="off" action="/user/register" method="POST">
    <div class="login-form">

        <input class="form-control" type="text" required name="firstName" id="firstName" placeholder="First Name">
        
        <input class="form-control" type="text" required name="lastName" id="lastName" placeholder="Last Name">
        
        <input class="form-control" type="email" required name="email" id="email" placeholder="Email Address">
        
        <input class="form-control" type="text" required name="username" id="username" placeholder="Username">
        
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        <div class="ui slider checkbox" style="margin-top: 10px;">
            <input type="checkbox" onclick="Hide()">
            <label>Register as Administrator</label>
        </div>
        
        <input class="form-control d-none" type="password" id="adminCode" placeholder="Administrator Password" name="adminCode" >
    
</div>
<button class="btn btn-primary" type="submit" style="width: 80%;">Continue</button>
    </form>
</div>
</div>
</div>

<script>
    function Hide(){
  $("#adminCode").toggleClass('d-none');
};
</script>
