<% include partials/header %>
<style>
    #memberFrame{
        width: 70%;
    }
    #Sear{
      visibility: hidden;
    }
    .header{
      pointer-events: none;
    }
    .ui.card{
        border: none;
        box-shadow: none;
        opacity: 0;
        width: 200px;
        background-color: white;
    }
    #profile{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: white;
    }
     #profile img{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit:cover;
        image-rendering: auto;
    }
    .eventappear{
        background-color: white;
  animation: fadeInUpAnimation ease 0.75s ;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
        -webkit-animation: fadeInUpAnimation ease 0.75s;
        -webkit-animation-iteration-count: 1; 
        -webkit-animation-fill-mode: forwards;
}

@media screen and (max-width:576px){
  .eventappear{
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
}
@media screen and (min-width:576px) and (max-height:576px) {
  .eventappear:nth-child(2n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(2n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
}
@media screen and (min-width:768px) and (min-height:992px) {
  .eventappear:nth-child(2n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(2n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(5){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      } 
}
@media screen and (min-width:992px) and (min-height:768px) {
  .eventappear:nth-child(3n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(3n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(3n+3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(5){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      } 
}
@media screen and (min-width:1200px) and (min-height:576px) {
  .eventappear:nth-child(4n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(4n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(4n+3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4n+4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      
}
@media screen and (min-width:1200px) and (min-height:650px){
  .eventappear:nth-child(5){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      }
      .eventappear:nth-child(7){
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
      }
      .eventappear:nth-child(8){
        animation-delay: 1.75s;
        -webkit-animation-delay: 1.75s;
      } 
}
@media screen and (min-width:992px) and (min-height:1200px) {
  .eventappear:nth-child(3n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(3n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(3n+3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(5){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      } 
      .eventappear:nth-child(7){
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
      }
      .eventappear:nth-child(8){
        animation-delay: 1.75s;
        -webkit-animation-delay: 1.75s;
      }
      .eventappear:nth-child(9){
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
      }
      .eventappear:nth-child(10){
        animation-delay: 2.25s;
        -webkit-animation-delay: 2.25s;
      }
      .eventappear:nth-child(11){
        animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
      }
      .eventappear:nth-child(12){
        animation-delay: 2.75s;
        -webkit-animation-delay: 2.75s;
      } 
}
@media screen and (min-width:1200px) and (min-height:992px) {
  .eventappear:nth-child(4n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(4n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(4n+3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4n+4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(5){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      } 
      .eventappear:nth-child(7){
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
      }
      .eventappear:nth-child(8){
        animation-delay: 1.75s;
        -webkit-animation-delay: 1.75s;
      }
      .eventappear:nth-child(9){
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
      }
      .eventappear:nth-child(10){
        animation-delay: 2.25s;
        -webkit-animation-delay: 2.25s;
      }
      .eventappear:nth-child(11){
        animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
      }
      .eventappear:nth-child(12){
        animation-delay: 2.75s;
        -webkit-animation-delay: 2.75s;
      } 
}   
@media screen and (min-width: 1500px){
  .eventappear:nth-child(5n+1){
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }
      .eventappear:nth-child(5n+2){
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
      .eventappear:nth-child(5n+3){
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }
      .eventappear:nth-child(5n+4){
        animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
      }
      .eventappear:nth-child(5n){
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
      }
      .eventappear:nth-child(6){
        animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
      } 
      .eventappear:nth-child(7){
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
      }
      .eventappear:nth-child(8){
        animation-delay: 1.75s;
        -webkit-animation-delay: 1.75s;
      }
      .eventappear:nth-child(9){
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
      }
      .eventappear:nth-child(10){
        animation-delay: 2.25s;
        -webkit-animation-delay: 2.25s;
      }
}
</style>
<div class="container d-flex justify-content-around" id="memberFrame" style="flex-wrap: wrap;">
  <div class="ui card" style="margin-top: 1em;">
    <div class="ui image" id="profile">
        <img src="../Team/Anshul.jpeg" alt="">
    </div>
    <div class="content" style="border-top: none;">
      <a class="header">Anshul Jain</a>
      <div class="meta">
        <span class="date">Industrial Design (Master's Senior)</span>
      </div>
      <div class="description">
         President
      </div>
    </div>
  </div>
  <div class="ui card">
    <div class="ui image" id="profile">
        <img src="../Team/Harsh.jpg" alt="">
    </div>
    <div class="content" style="border-top: none;">
      <a class="header">Harsh Garg</a>
      <div class="meta">
        <span class="date">Mathematics (Junior)</span>
      </div>
      <div class="description">
         Vice President
      </div>
    </div>
  </div>
  <div class="ui card">
    <div class="ui image" id="profile">
        <img src="../Team/Suraj.jpeg" alt="">
    </div>
    <div class="content" style="border-top: none;">
      <a class="header">Suraj Rai</a>
      <div class="meta">
        <span class="date">Mining Engineering (Junior)</span>
      </div>
      <div class="description">
         Secretary, PR and Management Team Head
      </div>
    </div>
  </div>
  <div class="ui card" >
    <div class="ui image" id="profile">
      <img src="../Team/Aatreyo.jpeg">
    </div>
    <div class="content" style="border-top: none;">
      <a class="header">Aatreyo De</a>
      <div class="meta">
        <span class="date">Electronics and Communication (Junior)</span>
      </div>
      <div class="description">
        Co-ordinator & Innovation Management
      </div>
    </div>
  </div>
    <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Vivek.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Vivek Prasad Dalbehera</a>
          <div class="meta">
            <span class="date">Computer Science (Junior)</span>
          </div>
          <div class="description">
            Technical Team Head
          </div>
        </div>
      </div>
     
      <div class="ui card" >
        <div class="ui image" id="profile">
          <img src="../Team/Kaustuv.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Kaustuv Ray</a>
          <div class="meta">
            <span class="date">Mining (Junior)</span>
          </div>
          <div class="description">
            Content Team Head
          </div>
        </div>
      </div>
      <div class="ui card" >
        <div class="ui image" id="profile">
          <img src="../Team/Soumyadeep.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Soumyadeep Sinha</a>
          <div class="meta">
            <span class="date">Electrical Engineering (Junior)</span>
          </div>
          <div class="description">
            Web Development Team Head
          </div>
        </div>
      </div>
      <div class="ui card" >
        <div class="ui image" id="profile">
          <img src="../Team/Zafar.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Mohammad Zafar Khan</a>
          <div class="meta">
            <span class="date">Electrical Engineering (Junior)</span>
          </div>
          <div class="description">
            Design Team Head
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Bhaskar.jpg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Bhaskar B Sarkar</a>
          <div class="meta">
            <span class="date">Mechanical Engineering (Junior)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Sourav.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Sourav Das</a>
          <div class="meta">
            <span class="date">Power Systems Engineering (PhD)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Eniyavan.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Eniyavan Rameshbabu</a>
          <div class="meta">
            <span class="date">Control and Automation (Masters)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Aravind.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Aravind Naidu G</a>
          <div class="meta">
            <span class="date">Mining Engineering (Junior)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Aman.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Aman Jindal</a>
          <div class="meta">
            <span class="date">Chemical Engineering (Sophomore)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Bandla.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Bandla Sri Gowree Manohar</a>
          <div class="meta">
            <span class="date">Industrial Design (Sophomore)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Hewagamage.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Hewagamage Lakshitha Sheshan</a>
          <div class="meta">
            <span class="date">Computer Science (Sophomore)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" >
        <div class="ui image" id="profile">
          <img src="../Team/Lokesh.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Lokesh Jain</a>
          <div class="meta">
            <span class="date">Electrical Engineering (Sophomore)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Pallavi.png">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Pallavi Gupta</a>
          <div class="meta">
            <span class="date">Chemical Engineering (Sophomore)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Maitrai.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Maitrai Sinha</a>
          <div class="meta">
            <span class="date">Mechanical Engineering (Fresher)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Moksh.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Moksh Pathak</a>
          <div class="meta">
            <span class="date">Computer Science (Fresher)</span>
          </div>
          <div class="description">
            Technical Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/ShaliniSheetal.jpg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Shalini Sheetal</a>
          <div class="meta">
            <span class="date">Computer Science (Sophomore)</span>
          </div>
          <div class="description">
            Technical & Content Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Soumya.jpg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Soumya Dash</a>
          <div class="meta">
            <span class="date">Metallurgy and Material Science (Sophomore)</span>
          </div>
          <div class="description">
            Technical & Content Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Amaya.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Amaya Induwari Nanayakkara</a>
          <div class="meta">
            <span class="date">Electronics and Communication (Sophomore)</span>
          </div>
          <div class="description">
            Content Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
            <img src="../Team/Basundhari.jpg" alt="">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Basundhari Naik</a>
          <div class="meta">
            <span class="date">Mechanical Engineering (Sophomore)</span>
          </div>
          <div class="description">
             Content Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
            <img src="../Team/Shilpa.jpeg" alt="">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Shilpa S</a>
          <div class="meta">
            <span class="date">Computer Science (Master's)</span>
          </div>
          <div class="description">
             Web Development Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
            <img src="../Team/Ansuman.jpeg" alt="">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Ansuman Nayak</a>
          <div class="meta">
            <span class="date">Computer Science (Sophomore)</span>
          </div>
          <div class="description">
             Web Development Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
            <img src="../Team/Muskan.jpeg" alt="">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Muskan</a>
          <div class="meta">
            <span class="date">Electronics and Communication (Sophomore)</span>
          </div>
          <div class="description">
             Web Development Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Dharitri.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Dharitri Mallik</a>
          <div class="meta">
            <span class="date">Electronics and Instrumentation (Sophomore)</span>
          </div>
          <div class="description">
            Design Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Sarina.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">B Sarina</a>
          <div class="meta">
            <span class="date">Computer Science (Sophomore)</span>
          </div>
          <div class="description">
            Design Team Member
          </div>
        </div>
      </div>
      <div class="ui card" style="animation-delay: ;">
        <div class="ui image" id="profile">
          <img src="../Team/Vishal.jpg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Vishal Kumar </a>
          <div class="meta">
            <span class="date">Mechanical Engineering (Sophomore)</span>
          </div>
          <div class="description">
            Design Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
            <img src="../Team/Januka.jpeg" alt="">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Januka Fernando</a>
          <div class="meta">
            <span class="date">Computer Science (Sophomore)</span>
          </div>
          <div class="description">
            Management Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Pilla.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Pilla Sai Abhishek</a>
          <div class="meta">
            <span class="date">Electrical Engineering (Sophomore)</span>
          </div>
          <div class="description">
            Management Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Kuntala.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Kuntala Srujan Balu</a>
          <div class="meta">
            <span class="date">Metallurgy and Material Science (Sophomore)</span>
          </div>
          <div class="description">
            Management and PR Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Kamal.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Kamal Pentakota</a>
          <div class="meta">
            <span class="date">Electronics and Instrumentation (Sophomore)</span>
          </div>
          <div class="description">
            Public Relations Team Member
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" id="profile">
          <img src="../Team/Mahesh.jpeg">
        </div>
        <div class="content" style="border-top: none;">
          <a class="header">Mahesh Pandey</a>
          <div class="meta">
            <span class="date">Computer Science (Freshman)</span>
          </div>
          <div class="description">
            Public Relations Team Member
          </div>
        </div>
      </div>
</div>
<div style="width: 100%;" id="footer" class="row justify-content-center ">
  <div class="col-md-12 text-center py-5">
    <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> 3DtechClub All rights reserved 
</p>
  </div>
</div>
</body>
<script>
    const appearOptions={
              threshold:0.4,
              
            };
            const faders=document.querySelectorAll('.ui.card');
            const appearOnScroll=new IntersectionObserver(function(entries,appearOnScroll) 
            {
              entries.forEach(entry => {
                if(!entry.isIntersecting){
                  return;
                }
                else{
                  entry.target.classList.add('eventappear');
                  appearOnScroll.unobserve(entry.target);
                }
              })
            },
            appearOptions);
            faders.forEach(fader => {
              appearOnScroll.observe(fader);            
            });        
            

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>

</html>
