
.navbar .navbar-header .navbar-brand {
    display: block;
    text-align:center;
    float: none;
    width: 100%;
    color: white;
}
::-webkit-scrollbar{
          display: none;
        }
.navbar.navbar-inverse .navbar-header{
float: none; 
}
.topic .nav-item{
color: lightcyan;
}
.carousel-item{
max-width:1000px;
position: relative;
margin: auto;
max-height: 700px;
/* background-image: url("https://images.unsplash.com/photo-1606486918390-35bb2c83544a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
background-image: "https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2t5JTIwYWVzdGhldGljJTIwcGljc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60";
}

.home{

background-image: url("https://images.unsplash.com/photo-1599239663833-4c1cdc22892a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fHNreSUyMHBsYWlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
/* background-image: "https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2t5JTIwYWVzdGhldGljJTIwcGljc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"; */
background-size: cover;
text-align: center;
font-size: 48px;
color:rgb(233, 245, 248);
display: table;
height: 100vhg;
width:100%; 
}
.home .h4{
padding-right: 5%;
}
.science{

background-color: #05042D;

text-align: center;
font-size: 20px;
color:white;
display: table;
height: 100vhg;
width:100%; 
font-family: 'Josefin Sans', sans-serif;
background-size:cover;
background-position:unset;
background-attachment:fixed;
max-width: auto;
background-repeat: repeat;
}
.head{
/* font-family: 'Potta One', cursive; */
font-family: 'Potta One', cursive;
background-image: url("https://images.unsplash.com/photo-1611802034583-537c31a2ac31?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzN8fGRhcmslMjBwbGFpbiUyMGJsdWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
background-size: cover;
text-align: center;
font-size: 48px;
color:white;
display: table;
height: 100vhg;
width:100%;
}
.head .buttons{
position: absolute;
top:50%;
left: 0;
width: 120px;
transform: translateY(-50%);
}
.utext{
    display: none;
}
.image{
 max-width: 100%;
 min-height: 95%;
 object-fit: cover;
}
.alibaba{

background-size: cover;
text-align: justify;
font-size: 19px;

display: table;
height: 100vhg;
width:100%; 
/*  */
font-family: 'Josefin Sans', sans-serif;
}
.amazon{

background-size: cover;
text-align: justify;
font-size: 19px;

display: table;
height: 100vhg;
width:100%; 
/* font-family: 'Hind Siliguri', sans-serif; */
font-family: 'Josefin Sans', sans-serif;
}
.hm{

background-size: cover;
text-align: justify;
font-size: 19px;

display: table;
height: 100vhg;
width:100%; 
/* font-family: 'Hind Siliguri', sans-serif; */
font-family: 'Josefin Sans', sans-serif;
}
.drum{
background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8ZGFya3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

text-align: left;
font-size: 22px;
color:rgb(252, 247, 247);
display: table;
height: 100vhg;
width:100%; 
/* font-family: 'Hind Siliguri', sans-serif; */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-size:cover;
background-position:unset;
background-attachment:fixed;
max-width: auto;
background-repeat: repeat;
font-weight: 300;
}
.end{
background-image: url("https://images.unsplash.com/photo-1525642351754-db88d9142dee?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8ZGFyayUyMHNjaWVudGlmaWMlMjBhZXN5aGV0aWNzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

text-align: left;
font-size: 22px;
color:rgb(231, 240, 218);
display: table;
height: 100vhg;
width:100%; 
/* font-family: 'Hind Siliguri', sans-serif; */
font-family: 'Josefin Sans', sans-serif;
background-size:cover;
background-position:unset;
background-attachment:fixed;
max-width: auto;
background-repeat: repeat;
}
p.normal{
font-weight: normal;
}
span{
text-align: right;
padding-right: 2px;
}
